body {
    background-color: lightgreen;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100vh; /* Set body height to 100% of viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px; /* Adjust the width as needed */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%; /* Adjust the width to fill the form container */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%; /* Adjust the width to fill the form container */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
